@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: #eaebea;
    color: white;
    font-family: 'Barlow', sans-serif;
}

nav {
    height: 80px;
    width: 100%;
    background: #121212;
    box-shadow: 0 0 30px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin-left: 3rem;
}

h1 i {
    margin-left: 10px;
}

.nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-right: 2rem;
}

form input,
button {
    padding: 5px 10px;
    outline: none;
    font-size: 1.1rem;
}

input {
    font-family: 'Barlow', sans-serif;
}

button {
    cursor: pointer;
}

.error-msg {
    color: red;
    position: absolute;
}

.nav-right div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-right div > a {
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
}

.background {
    height: calc(100vh - 80px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.info-container {
    height: 60%;
    min-width: 60%;
    background: #121212;
    box-shadow: 0 0 30px black;
    display: grid;
    grid-template: repeat(2, 1fr) / 1.5fr 1fr;
    gap: 10px;
    padding: 10px;
}

.animate {
    animation: fadeIn 1s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-15px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.location-info {
    grid-area: 1 / 1 / 2 / 2;
    border-right: 1px solid #eaebea;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
}

.location-info h2 > i {
    animation: bounce 5s ease infnite;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    8% {
        transform: translateY(-15px);
    }

    16% {
        transform: translateY(0);
    }

    24% {
        transform: translateY(-15px);
    }

    32% {
        transform: translateY(0);
    }
}

.weather-info {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weather-info h2 {
    margin-bottom: 10px;
}

.other-info {
    grid-area: 2 / 1 / 3 / 3;
    border-top: 1px solid #eaebea;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.other-info div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    gap: 1rem;
}

.other-info div > h3 > i {
    margin-left: 10px;
}

.other-info div > p {
    font-size: 1.2rem;
}

.overlay {
    height: 100%;
    width: 100%;
    background: rgba(234, 235, 234, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.loader-container {
    height: 70px;
    width: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader {
    height: 100%;
    width: 100%;
    border-radius: 50px;
    border: 10px solid transparent;
    border-top-color: black;
    animation: rotate 1s ease infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}