@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: #eaebea;
    color: white;
    font-family: 'Barlow', sans-serif;
}

nav {
    height: 80px;
    width: 100%;
    background: #121212;
    box-shadow: 0 0 30px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin-left: 3rem;
}

h1 i {
    margin-left: 10px;
}

form {
    margin-right: 3rem;
}

form input,
button {
    padding: 4px 8px;
    outline: none;
}

button {
    cursor: pointer;
}

.background {
    height: calc(100vh - 80px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-container {
    height: 60%;
    width: 60%;
    background: #121212;
    box-shadow: 0 0 30px black;
    display: grid;
    grid-template: repeat(2, 1fr) / 1.5fr 1fr;
    gap: 10px;
    padding: 10px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-15px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.location-info {
    grid-area: 1 / 1 / 2 / 2;
    border-right: 1px solid #eaebea;
}

.weather-info {
    grid-area: 1 / 2 / 2 / 3;
}

.other-info {
    grid-area: 2 / 1 / 3 / 3;
    border-top: 1px solid #eaebea;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.overlay {
    height: 100%;
    width: 100%;
    background: rgba(234, 235, 234, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.loader-container {
    height: 70px;
    width: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader {
    height: 100%;
    width: 100%;
    border-radius: 50px;
    border: 10px solid transparent;
    border-top-color: black;
    animation: rotate 1s ease infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}