@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #eaebea;
    color: white;
    font-family: 'Barlow', sans-serif;
}

nav {
    height: 80px;
    width: 100%;
    background: #121212;
    box-shadow: 0 0 30px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin-left: 3rem;
}

h1 i {
    margin-left: 10px;
}

.nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-right: 2rem;
}

form input,
button {
    padding: 5px 10px;
    outline: none;
    font-size: 1rem;
    border-radius: 50px;
}

input {
    font-family: 'Barlow', sans-serif;
    border: 2px solid transparent;
    margin-right: 5px;
}

input:focus {
    border: 2px solid rgb(30, 150, 202);
}

button {
    cursor: pointer;
    background: rgb(30, 150, 202);
    color: white;
    height: 40px;
    width: 40px;
}

button:focus {
    background: rgb(24, 123, 165);
}

.error-msg {
    color: red;
    position: absolute;
}

.link-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-container a {
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
}

.background {
    height: calc(100vh - 80px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.info-container {
    height: 60%;
    min-width: 65%;
    background: #121212;
    box-shadow: 0 0 30px black;
    display: grid;
    grid-template: repeat(2, 1fr) / 1.5fr 1fr;
    gap: 10px;
    padding: 10px;
}

.animate {
    animation: fadeIn 1s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-15px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.location-info {
    grid-area: 1 / 1 / 2 / 2;
    border-right: 1px solid #eaebea;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
}

.location-info h2 > i {
    margin-right: 10px;
    animation: bounce 5s ease infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    8% {
        transform: translateY(-15px);
    }

    16% {
        transform: translateY(0);
    }

    24% {
        transform: translateY(-15px);
    }

    32% {
        transform: translateY(0);
    }
}

.weather-info {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

.weather-info h2 {
    margin-bottom: 10px;
    text-align: center;
}

.other-info {
    grid-area: 2 / 1 / 3 / 3;
    border-top: 1px solid #eaebea;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.top-row,
.bottom-row {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    gap: 2rem;
}

.top-row div,
.bottom-row div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-row div > h3 > i,
.bottom-row div > h3 > i {
    margin-left: 10px;
}

.top-row div > h3 > p,
.bottom-row div > h3 > p {
    font-size: 1.2rem;
}

.overlay {
    height: 100%;
    width: 100%;
    background: rgba(234, 235, 234, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.loader-container {
    height: 70px;
    width: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader {
    height: 100%;
    width: 100%;
    border-radius: 50px;
    border: 10px solid transparent;
    border-top-color: black;
    animation: rotate 1s ease infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 1000px) {
    h1 {
        margin-left: 2rem;
    }

    .background {
        height: 140vh;
    }

    .info-container {
        grid-template: 1fr 1fr 3fr / 1fr;
        gap: 1rem;
        padding: 1rem;
        height: 60%;
        min-width: 70%;
    }

    .location-info {
        grid-area: 1 / 1 / 2 / 2;
        border-right: none;
        border-bottom: 1px solid #eaebea;
    }

    .weather-info {
        grid-area: 2 / 1 / 3 / 2;
    }

    .other-info {
        grid-area: 3 / 1 / 4 / 2;
        display: grid;
        grid-template: repeat(2, 1fr) / 1fr;
        gap: 0;
    }
}

@media (max-width: 760px) {
    h1 {
        font-size: 2rem;
    }
    
    .title {
        display: none;
    }

    .link-container {
        display: none;
    }

    .info-container {
        height: 80%;
    }

    .location-info {
        font-size: 1.6rem;
    }

    .other-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .top-row {
        display: flex;
        flex-direction: column;
    }

    .bottom-row {
        display: flex;
        flex-direction: column;
    }
}
